<div class="container border border-dark" style="margin-top: 20px;">
    <div>
        <u>
            <h1 class="text-center">C.V SENDER</h1>
        </u>

        <form [formGroup]="mainForm" (ngSubmit)="sendForm()">

            <div class="form-group">
                <label for="email" class="text-left">Email</label>
                <input formControlName="email" id="email" type="email" class="form-control"
                    placeholder="Insert Email" />


                <span class="color-red"
                    *ngIf="mainForm.get('email').hasError('required') && (mainForm.get('email').dirty || mainForm.get('email').touched)">
                    required
                </span>

                <span class="color-red"
                    *ngIf="mainForm.get('email').hasError('pattern') && (mainForm.get('email').dirty || mainForm.get('email').touched)">
                    Invalid email
                </span>
            </div>
            <div class="form-group text-center">
                <div *ngIf="showIcon" class="spinner-border" role="status" >                    
                </div>
            </div>



            <div class="form-group">
                <label for="message" class="text-left">Message:</label>
                <textarea formControlName="message" id="message" class="form-control"
                    placeholder="Insert Message"></textarea>

                <span class="color-red"
                    *ngIf="mainForm.get('message').hasError('required') && (mainForm.get('message').dirty || mainForm.get('message').touched)">
                    required
                </span>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-success">SEND</button>
                &nbsp;
                <button type="reset" class="btn btn-danger">CLEAR</button>
            </div>


        </form>
        <h1>email sents list</h1>

        <table class=" table table-striped">
            <tr>
                <th>Index</th>
                <th>Email address</th>
                <th>Message</th>
            </tr>

            <tr *ngFor="let mail of messageArray; let i = index">
                <td>{{i+1}}</td>
                <td>{{mail.email}}</td>
                <td>{{mail.message}}</td>
            </tr>

        </table>

        <!-- <p *ngFor="let mail of messageArray; let i = index">
                {{mail.email}} - {{mail.message}}
            </p> -->

    </div>
</div>