<div class="container border border-dark" style="margin-top: 20px;">
    <div>
        <u>
            <h1 class="text-center">C.V SENDER</h1>
        </u>

        <form [formGroup]="mainForm" (ngSubmit)="sendForm()">

            <div class="form-group">
                <label for="email" class="text-left">Email</label>
                <input formControlName="email" id="email" type="email" class="form-control"
                    placeholder="Insert Email" />


                <span class="color-red"
                    *ngIf="mainForm.get('email').hasError('required') && (mainForm.get('email').dirty || mainForm.get('email').touched)">
                    required
                </span>

                <span class="color-red"
                    *ngIf="mainForm.get('email').hasError('pattern') && (mainForm.get('email').dirty || mainForm.get('email').touched)">
                    Invalid email
                </span>
            </div>



            <div class="form-group">
                <label for="message" class="text-left">Message:</label>
                <textarea formControlName="message" id="message" class="form-control"
                    placeholder="Insert Message"></textarea>

                <span class="color-red"
                    *ngIf="mainForm.get('message').hasError('required') && (mainForm.get('message').dirty || mainForm.get('message').touched)">
                    required
                </span>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-success">SEND</button>
                &nbsp;
                <button type="reset" class="btn btn-danger">CLEAR</button>
            </div>


        </form>

    </div>
</div>